:root {
	--main-bg-color: #50395b;
	--secondary-color: #dd9;
	--backdrop-color: #212;
	--header-color: #a5a;
	--header-text-color: #eae;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--main-bg-color);
	width: 80%;
	height: 1350px;
	margin: auto;
	border-style: solid;
	border-width: 3px;
}

hr {
	height: 1px;
	border: none;
}

hr.normal {
	background-color: var(--secondary-color);
}

hr.unsaved {
	background-color: red;
}

ul li {
	color: #fff;
	background-color: #fff;
}

/* TO DO: Make buttons accessible: https://www.eventbrite.com/engineering/how-to-fix-the-ugly-focus-ring-and-not-break-accessibility-in-react/ */
button {
	outline: none;
}

a.linkRouter {
	text-decoration: none;
	color: var(--header-text-color);
	margin: 16px;
	font-size: 36px;
}

.header {
	background-color: var(--header-color);
	height: 84px;
	font-size: 36px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	color: var(--header-text-color);
}

.home {
	border-right: 2px solid var(--header-text-color);
	align-items: center;
	flex-grow: 1;
}

.headerButton {
	border-right: 2px solid var(--header-text-color);
	align-items: center;
	flex-grow: 1;
}

button.colorButton {
	margin: 16px;
	size: 20px;
	align-items: center;
	background-color: var(--header-color);
	color: var(--header-text-color);
	font-size: 36px;
	border: 0;
}

button.login,
button.logout {
	background-color: var(--header-color);
	color: var(--header-text-color);
	font-size: 36px;
	size: 20px;
	margin: 16px;
	align-items: center;
	border: 0;
}

.colorSelection {
	display: flex;
	flex-grow: 2;
}

.color {
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	padding: 0 16px;
}

.deckList {
	color: var(--secondary-color);
	background-color: var(--main-bg-color);
}

.deckSlots {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: auto;
}

.deckSlot {
	margin: 12px;
}

.selectedDeck {
	margin: 12px;
	background-image: linear-gradient(var(--secondary-color), rgba(0, 0, 0, 0));
	border-top: double 4px transparent;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.deckImg {
	margin: 26px;
	width: 180px;
	border-radius: 100%;
}

.ownerName {
	font-size: 28px;
	padding: 16px;
}

.createDeckButton:hover {
	opacity: 60%;
}

.searchArea {
	display: flex;
	flex-direction: 'row';
	align-items: center;
}

.searchBar {
	outline: none;
	opacity: 70%;
	background-color: var(--main-bg-color);
	color: #ddd;
	font-size: 32px;
	margin: 16px;
	text-align: left;
	padding-left: 8px;
	height: 32px;
	border-radius: 10px;
	order: 2;
	z-index: 2;
}

.ghostBar {
	position: absolute;
	outline: none;
	background-color: silver;
	color: silver;
	font-size: 32px;
	margin-left: 16px;
	text-align: left;
	padding-left: 8px;
	height: 32px;
	border-radius: 10px;
	order: 1;
	z-index: 1;
}

.searchButton {
	margin-left: 16px;
	height: 20px;
	order: 2;
	background-color: var(--header-color);
	color: var(--secondary-color);
	font-size: 24px;
	align-items: center;
	padding: 8px;
	height: 32px;
	display: flex;
	flex-direction: row;
}

.searchLoading {
	float: left;
	color: #fff;
	order: 3;
	margin-left: 12px;
}

.cardError {
	float: left;
	color: #fff;
	background-color: red;
	order: 4;
	margin-left: 12px;
}

.deckContent {
	border-color: var(--secondary-color);
	background-color: var(--backdrop-color);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	width: 70%;
	height: 900px;
}

.unsavedContent {
	border-color: red;
	background-color: var(--backdrop-color);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	width: 70%;
	height: 900px;
}

.deckList li {
	display: inline;
	padding-right: 12px;
	margin: 36px;
}

.cardContainer {
	color: #fff;
	width: 36%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 16px;
}

.cardContainer:hover {
	background-color: rgb(0, 0, 0, 0.4);
	border-radius: 12px;
}

.quantContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.arrowContainer {
	display: flex;
	flex-direction: column;
	z-index: 0;
	margin: 8px;
}

.upArrow {
	margin: 8px;
	border: solid green;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	background-color: var(--backdrop-color);
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.upArrow:hover {
	border: solid lightgreen;
	border-width: 0 3px 3px 0;
}

.downArrow {
	margin: 8px;
	border: solid red;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	background-color: var(--backdrop-color);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.downArrow:hover {
	border: solid lightcoral;
	border-width: 0 3px 3px 0;
}

.cardInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cardName {
	margin: 16px;
}

.cardArt {
	display: block;
	width: 24%;
	margin-right: 12px;
	height: auto;
	float: right;
}

.cardImage {
	visibility: hidden;
	display: none;
	position: absolute;
	width: 28%;
	z-index: 2;
}

.cardInfo:hover > .cardImage {
	visibility: visible;
	display: block;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-box {
	position: absolute;
	background: var(--main-bg-color);
	border: 3px solid var(--backdrop-color);
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	text-align: center;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.authHeader {
	color: var(--header-text-color);
	background-color: var(--header-color);
	text-align: center;
	font-size: 48px;
}

.form-group {
	margin: 16px;
	align-items: center;
}

.authInput {
	font-size: 36px;
	height: 36px;
	margin: 16px;
}

.login-form {
	float: left;
	width: 50%;
	border-right: 2px solid var(--backdrop-color);
}

.register-form {
	float: right;
	width: 50%;
}

.authButton {
	font-size: 28px;
	height: 48px;
	align-items: center;
	margin: 16px;
}

.deckNameField::placeholder {
	opacity: 1;
	color: var(--main-bg-color);
}
