:root {
	--main-bg-color: #50395b;
	--secondary-color: #dd9;
	--backdrop-color: #303;
	--header-color: #a5a;
	--header-text-color: #eae;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #212;
	width: 85%;

	margin: auto;
	border-style: solid;
	border-width: 3px;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar {
	width: 11px;
}
body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

html {
	height: 100%;
	scroll-behavior: smooth;
	--scrollbarBG: #cfd8dc;
	--thumbBG: #90a4ae;
}

hr {
	height: 1px;
	border: none;
}

hr.normal {
	background-color: var(--secondary-color);
	/* width: 100%; */
}

hr.unsaved {
	background-color: red;
}

ul li {
	color: #fff;
	background-color: #fff;
}

/* TO DO: Make buttons accessible: https://www.eventbrite.com/engineering/how-to-fix-the-ugly-focus-ring-and-not-break-accessibility-in-react/ */
button {
	outline: none;
	cursor: pointer;
}

a.linkRouter {
	text-decoration: none;
	color: var(--header-text-color);
	margin: 16px;
	font-size: 36px;
}

.header {
	background-color: var(--header-color);
	height: 48px;
	font-size: 24px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	color: var(--header-text-color);
}

.home {
	border-right: 2px solid var(--header-text-color);
	background-color: var(--main-bg-color);
	align-items: center;
	flex-grow: 1;
}

.headerButton {
	border-right: 2px solid var(--header-text-color);
	align-items: center;
	flex-grow: 1;
}

button.colorButton {
	margin: 16px;
	size: 20px;
	align-items: center;
	background-color: var(--header-color);
	color: var(--header-text-color);
	border: 0;
	font-size: 24px;
}

button.login,
button.logout {
	background-color: var(--header-color);
	color: var(--header-text-color);
	size: 20px;
	margin: 16px;
	align-items: center;
	border: 0;
	font-size: 24px;
}

.colorSelection {
	display: flex;
	flex-grow: 2;
}

.color {
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	padding: 0 16px;
}

.deckbuilderZone {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 1000px;
}

.deckList {
	display: flex;
	flex-direction: column;
	height: inherit;
	background-color: var(--main-bg-color);
	width: 24%;
	border-right: 1px solid var(--secondary-color);
}

.blockedDeckList {
	width: 100%;
	opacity: 0;
}

.blockedDeckList:hover {
	opacity: 0.5;
}

.deckSlots {
	display: flex;
	flex-direction: column;
	float: right;
	overflow-x: hidden;
	overflow-y: auto;
	height: inherit;
}

.deckSlot {
	margin: 0 12px;
	display: flex;
	align-items: center;
	position: relative;
}

.deckContainer {
	position: relative;
	height: 90%;
	margin: 0 16px;
}

.slotNameDisplay {
	position: absolute;
	width: calc(100% - 8px);
	top: 0;
	left: 0;
	padding: 4px;
	color: white;
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
	background: transparent;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	z-index: 0;
	pointer-events: none;
}

.colorContainer {
	pointer-events: none;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: 'flex-end';
	bottom: 0;
	left: 0;
	align-items: center;
	padding: 4px;
	width: calc(100% - 8px);
	background-color: rgba(255, 255, 255, 0.3);
}

.colorDot {
	height: 12px;
	width: 12px;
	margin: auto 0;
	border-radius: 100%;
	display: inline-block;
	background: transparent;
	border: 1px solid black;
	margin-right: 4px;
}

.U {
	background-color: blue;
}
.B {
	background-color: black;
}
.G {
	background-color: green;
}
.R {
	background-color: red;
}
.W {
	background-color: white;
}

.selectedDeck {
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		rgba(0, 0, 0, 0)
	);
	border-top: double 4px transparent;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.featuredDeck {
	margin: 6px -6px;
	padding-top: 10px;
}

div.featuredDeck .colorContainer {
	bottom: 4px;
}

div.featuredDeck .slotNameDisplay {
	font-size: 24px;
}

.newArtDeck {
	opacity: 0.4;
}

.createDeckButton:hover {
	opacity: 60%;
}

.searchArea {
	display: flex;
	flex-direction: 'row';
	align-items: center;
}

.searchBar {
	outline: none;
	background-color: var(--main-bg-color);
	color: #ddd;
	font-size: 32px;
	margin: 16px;
	text-align: left;
	padding-left: 8px;
	height: 32px;
	border-radius: 10px;
	order: 1;
	z-index: 2;
}

.ghostBar {
	position: absolute;
	outline: none;
	background-color: black;
	color: silver;
	font-size: 32px;
	margin-left: 16px;
	text-align: left;
	padding-left: 8px;
	height: 32px;
	border-radius: 10px;
	order: 1;
	z-index: 1;
}

.searchButton {
	margin-left: 16px;
	height: 20px;
	order: 2;
	background-color: var(--header-color);
	color: var(--secondary-color);
	font-size: 24px;
	align-items: center;
	padding: 8px;
	height: 32px;
	display: flex;
	flex-direction: row;
}

.searchLoading {
	float: left;
	color: #fff;
	order: 3;
	margin-left: 12px;
}

.cardError {
	float: left;
	color: #fff;
	background-color: red;
	order: 4;
	margin-left: 12px;
}

.deckContent {
	border-color: var(--secondary-color);
	background-color: var(--backdrop-color);
	border-width: 1px;
	border-style: solid;
	min-height: 1000px;
}

.unsavedContent {
	border-color: red;
	background-color: var(--backdrop-color);
	border-width: 1px;
	border-style: solid;
	display: block;
	min-height: 1000px;
}

.cardArea1 {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.cardArea2 {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.cardArea3 {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.typeArea {
	display: inline-block;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
}

.typeHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.typeName {
	color: var(--secondary-color);
	font-size: 24px;
}

.toggleArea {
	visibility: hidden;
	margin: 0 8px;
	height: 80%;
}

.typeHeader:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.typeHeader:hover > .toggleArea {
	visibility: visible;
}

.typeGroupContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.cardContainer {
	color: #fff;
	display: flex;
	flex-direction: column;
	margin: 6px 4.5%;
	width: 15%;
}

.quantContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 2px;
	background-color: rgba(0, 0, 0, 0.4);
}

.arrowContainer {
	visibility: hidden;
	z-index: 5;
	height: 20px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.quantContainer:hover .arrowContainer {
	visibility: visible;
}

.quantContainer:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.arrow {
	margin: 4px;
	font-size: 28px;
	background: transparent;
	border: none;
	display: inline-block;
	padding: 3px;
	margin: -8px 0;
}

.up {
	color: green;
}

.up:hover {
	color: lightgreen;
}

.down {
	color: red;
}

.down:hover {
	color: lightcoral;
}

.cardInfo {
	width: 130%;
}

.infoContainer {
	position: relative;
	word-wrap: break-word;
}

.cardName {
	margin: 6px 0;
	width: 100%;
	font-size: 16px;
	word-wrap: break-word;
	text-align: center;
}

.cardQuantity {
	font-size: 20px;
	color: white;
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
	text-indent: -2px;
	/* margin: 16px 0;
	text-indent: 80%; */
}

.cardArtContainer {
	position: relative;
	height: inherit;
}

.cardArt {
	display: block;
	width: 100%;
	cursor: move;
	border-radius: 6px;
	border: 2px solid black;
	background-color: black;
}

.moreCards {
	display: block;
	opacity: 0.5;
	width: 100%;
	cursor: move;
	border-radius: 6px;
	border: 2px dashed grey;
	background-color: black;
}

.cardImage {
	visibility: hidden;
	display: none;
	position: absolute;
	width: 19%;
	z-index: 8;
	border-radius: 20px;
}

.cardInfo:hover > .cardImage {
	visibility: visible;
	display: block;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-box {
	position: absolute;
	background: var(--main-bg-color);
	border: 3px solid var(--backdrop-color);
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	text-align: center;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.authHeader {
	color: var(--header-text-color);
	background-color: var(--header-color);
	text-align: center;
	font-size: 48px;
}

.form-group {
	margin: 16px;
	align-items: center;
}

.authInput {
	font-size: 36px;
	height: 36px;
	margin: 16px;
}

.login-form {
	float: left;
	width: 50%;
	border-right: 2px solid var(--backdrop-color);
}

.register-form {
	float: right;
	width: 50%;
}

.authButton {
	font-size: 28px;
	height: 48px;
	align-items: center;
	margin: 16px;
}

.deckNameField::placeholder {
	opacity: 1;
	color: var(--main-bg-color);
}

.wholeDeck {
	padding: 8px;
	background-color: var(--main-bg-color);
	float: right;
	width: 84%;
}

.metaTools {
	display: 'inline-block';
	background-color: var(--header-text-color);
	width: 100%;
	order: 2;
}

.metaHeader {
	width: 97.75%;
	height: 50px;
	font-size: 36px;
	padding-left: 12px;
	background-color: var(--header-color);
	color: var(--header-text-color);
}

.manaCurve {
	background-color: #fdf;
}

.registerContainer {
	background-color: 'blue';
	padding: '16px';
}

.columnContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 16px 0;
}

.toolsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 16px 0;
}

.tools {
	all: unset;
	cursor: pointer;
	text-align: center;
	width: 128px;
	height: 32px;
	font-size: 24px;
	border-radius: 35%;
	border: 2px solid var(--secondary-color);
}

.inactiveTools {
	cursor: not-allowed;
	color: darkgray;
	border: 2px solid black;
	background-color: gray;
}

.activeTools {
	background-color: var(--secondary-color);
	color: var(--main-bg-color);
	border: 2px solid var(--backdrop-color);
}
