:root {
	--backdrop-color: #4e1a4f;
	--deck-color: #6a2d51;
	--tool-color: #9f5954;
	--main-color: #844150;
	--header-color: #ba6d55;
}

* {
	margin: 0px;
	padding: 0px;
}

/* Button Format
background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
*/

[draggable='true'] {
	cursor: move;
}

body {
	background-color: var(--backdrop-color);
	color: white;
	margin: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar {
	width: 11px;
}
body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

html {
	height: 100%;
	scroll-behavior: smooth;
	--scrollbarBG: #cfd8dc;
	--thumbBG: #90a4ae;
}

hr {
	height: 1px;
	border: none;
}

hr.normal {
	background-color: lightgrey;
	width: 92%;
	margin: 0 auto;
}

hr.typeBar {
	background-color: white;
	margin-bottom: 16px;
}

hr.unsaved {
	background-color: red;
}

ul li {
	color: #fff;
	background-color: #fff;
}

/* TO DO: Make buttons accessible: https://www.eventbrite.com/engineering/how-to-fix-the-ugly-focus-ring-and-not-break-accessibility-in-react/ */
button {
	outline: none;
	cursor: pointer;
}

a.linkRouter {
	text-decoration: none;
	color: var(--header-text-color);
	margin: 16px;
	font-size: 36px;
}

.header {
	background-color: var(--header-color);
	height: 48px;
	font-size: 24px;
	text-indent: 16px;
	display: flex;
	align-items: center;
	color: var(--header-text-color);
	width: 100%;
}

.home {
	background-color: var(--main-color);
	align-items: center;
	flex-grow: 1;
}

.headerButton {
	border-right: 2px solid var(--header-text-color);
	align-items: center;
	flex-grow: 1;
}

button.colorButton {
	margin: 16px;
	size: 20px;
	align-items: center;
	background-color: var(--header-color);
	color: var(--header-text-color);
	border: 0;
	font-size: 24px;
}

button.login,
button.logout {
	background-color: var(--header-color);
	color: var(--header-text-color);
	size: 20px;
	margin: 16px;
	align-items: center;
	border: 0;
	font-size: 24px;
}

.colorSelection {
	display: flex;
	flex-grow: 2;
}

.color {
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	padding: 0 16px;
}

.deckbuilderZone {
	display: flex;
	flex-direction: row;
	width: 85%;
	margin: 0 auto;
	min-height: 1000px;
	background-color: var(--main-color);
}

.toolsList {
	display: flex;
	flex-direction: column;
	margin: 6px 8px;
	width: 268px;
}

.deckList {
	display: flex;
	flex-direction: column;
	height: inherit;
	background-color: var(--tool-color);
	border-radius: 8px;
}

.createDeckButton {
	width: 216px;
	margin: 16px auto;
	border: 1px outset;
	font-size: 36px;
	color: var(--main-bg-color);
	background-color: black;
	height: 100px;
	cursor: pointer;
	border-radius: 15px;
}

.blockedDeckList {
	width: 100%;
	opacity: 0;
}

.blockedDeckList:hover {
	opacity: 0.5;
}

.deckSlots {
	display: flex;
	flex-direction: column;
	float: right;
	overflow-x: hidden;
	overflow-y: auto;
	height: inherit;
}

.deckSlot {
	margin: 0 12px;
	display: flex;
	align-items: center;
	position: relative;
	height: 220px;
}

.deckContainer {
	position: relative;
	height: 90%;
	margin: 0 16px;
	border-radius: 8px;
}

.slotNameDisplay {
	position: absolute;
	width: calc(100% - 12px);
	top: 0;
	left: 0;
	padding: 1px 6px;
	color: white;
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
	background: transparent;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 24px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	z-index: 0;
	pointer-events: none;
}

.colorContainer {
	pointer-events: none;
	position: absolute;
	display: flex;
	flex-direction: row;
	left: 0;
	bottom: 0;
	align-items: center;
	padding: 4px;
	width: calc(100% - 8px);
	background-color: rgba(255, 255, 255, 0.3);
	border-top: 1px solid black;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.deckColorDot {
	height: 15px;
	width: 15px;
	margin: auto 0;
	border-radius: 100%;
	display: inline-block;
	background: transparent;
	border: 1px solid black;
	margin-right: 4px;
	display: block;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}

.colorColumnContainer {
	pointer-events: none;
	display: flex;
	position: absolute;
	flex-direction: row;
	left: 0;
	bottom: 19px;
	align-items: flex-end;
	padding: 6px;
	width: calc(100% - 8px);
	height: 80px;
}

.colorColumn {
	list-style-type: none;
	width: 12px;
	margin-right: 7px;
	border: 1px solid black;
	height: 100px;
}

.columnred {
	background-color: rgb(245, 83, 83);
}

.columnblue {
	background-color: rgb(65, 65, 252);
}

.columngreen {
	background-color: rgb(24, 112, 24);
}

.columnwhite {
	background-color: rgb(236, 236, 184);
}

.columnblack {
	background-color: rgb(44, 43, 43);
}

.cardColorDot {
	height: 15px;
	width: 15px;
	margin: 2px 0;
	margin-right: 1px;
	border-radius: 100%;
	display: inline-block;
	background: transparent;
	border: 1px solid black;
	display: block;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	filter: contrast(100%);
}

.blue {
	content: url('../utils/images/mana/BlueMana.png');
}
.black {
	content: url('../utils/images/mana/BlackMana.png');
}
.green {
	content: url('../utils/images/mana/GreenMana.png');
}
.red {
	content: url('../utils/images/mana/RedMana.png');
}
.white {
	content: url('../utils/images/mana/WhiteMana.png');
}
.C {
	content: url('../utils/images/mana/ColorlessMana.png');
}
.X {
	content: url('../utils/images/mana/XMana.png');
}
.S {
	content: url('../utils/images/mana/SnowMana.png');
}
.mana0 {
	content: url('../utils/images/mana/0Mana.png');
}
.mana1 {
	content: url('../utils/images/mana/1Mana.png');
}
.mana2 {
	content: url('../utils/images/mana/2Mana.png');
}
.mana3 {
	content: url('../utils/images/mana/3Mana.png');
}
.mana4 {
	content: url('../utils/images/mana/4Mana.png');
}
.mana5 {
	content: url('../utils/images/mana/5Mana.png');
}
.mana6 {
	content: url('../utils/images/mana/6Mana.png');
}
.mana7 {
	content: url('../utils/images/mana/7Mana.png');
}
.mana8 {
	content: url('../utils/images/mana/8Mana.png');
}
.mana9 {
	content: url('../utils/images/mana/9Mana.png');
}
.mana10 {
	content: url('../utils/images/mana/10Mana.png');
}
.mana11 {
	content: url('../utils/images/mana/11Mana.png');
}
.mana12 {
	content: url('../utils/images/mana/12Mana.png');
}
.mana13 {
	content: url('../utils/images/mana/13Mana.png');
}
.mana14 {
	content: url('../utils/images/mana/14Mana.png');
}
.mana15 {
	content: url('../utils/images/mana/15Mana.png');
}
.mana16 {
	content: url('../utils/images/mana/16Mana.png');
}
.mana17 {
	content: url('../utils/images/mana/17Mana.png');
}
.mana18 {
	content: url('../utils/images/mana/18Mana.png');
}
.mana19 {
	content: url('../utils/images/mana/19Mana.png');
}
.mana20 {
	content: url('../utils/images/mana/20Mana.png');
}
.Uor2 {
	content: url('../utils/images/mana/Uor2Mana.png');
}
.Bor2 {
	content: url('../utils/images/mana/Bor2Mana.png');
}
.Gor2 {
	content: url('../utils/images/mana/Gor2Mana.png');
}
.Wor2 {
	content: url('../utils/images/mana/Wor2Mana.png');
}
.Ror2 {
	content: url('../utils/images/mana/Ror2Mana.png');
}
.RorW {
	content: url('../utils/images/mana/RorWMana.png');
}
.GorU {
	content: url('../utils/images/mana/GorUMana.png');
}
.BorG {
	content: url('../utils/images/mana/BorGMana.png');
}
.BorR {
	content: url('../utils/images/mana/BorRMana.png');
}
.GorW {
	content: url('../utils/images/mana/GorWMana.png');
}
.RorG {
	content: url('../utils/images/mana/RorGMana.png');
}
.UorB {
	content: url('../utils/images/mana/UorBMana.png');
}
.UorR {
	content: url('../utils/images/mana/UorRMana.png');
}
.WorB {
	content: url('../utils/images/mana/WorBMana.png');
}
.WorU {
	content: url('../utils/images/mana/WorUMana.png');
}
.UP {
	content: url('../utils/images/mana/UPMana.png');
}
.GP {
	content: url('../utils/images/mana/GPMana.png');
}
.RP {
	content: url('../utils/images/mana/RPMana.png');
}
.BP {
	content: url('../utils/images/mana/BPMana.png');
}
.WP {
	content: url('../utils/images/mana/WPMana.png');
}

.selectedDeck {
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		rgba(0, 0, 0, 0)
	);
	border-top: double 4px transparent;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.featuredDeck {
	margin: 0px -6px;
}

div.featuredDeck .slotNameDisplay {
	font-size: 24px;
}

.deckButton {
	opacity: 1;
	margin: 0 auto;
	border-radius: 12px;
	cursor: pointer;
	height: 100%;
	width: 100%;
	filter: saturate(140%) contrast (140%);
}

.newArtDeck {
	opacity: 0.4;
}

.searchArea {
	display: flex;
	flex-direction: 'row';
	align-items: center;
}

.searchBar {
	outline: none;
	background-color: white;
	color: black;
	font-size: 32px;
	margin: 8px;
	text-align: left;
	padding-left: 8px;
	height: 32px;
	border-radius: 10px;
	order: 1;
	z-index: 2;
}

.ghostBar {
	position: absolute;
	outline: none;
	background-color: white;
	color: black;
	font-size: 32px;
	margin-left: 8px;
	text-align: left;
	padding-left: 8px;
	height: 32px;
	border-radius: 10px;
	order: 1;
	z-index: 1;
}

.searchButton {
	margin-left: 16px;
	height: 20px;
	order: 2;
	background-color: var(--header-color);
	color: var(--secondary-color);
	font-size: 24px;
	align-items: center;
	padding: 8px;
	height: 32px;
	display: flex;
	flex-direction: row;
}

.searchLoading {
	float: left;
	color: #fff;
	order: 3;
	margin-left: 12px;
}

.cardError {
	float: left;
	color: #fff;
	background-color: red;
	order: 4;
	margin-left: 12px;
}

.deckContent {
	background-color: var(--deck-color);
	min-height: 1000px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.deckNameDisplay {
	display: flex;
	width: calc(100% - 2px);
	height: 48px;
	background-color: var(--header-color);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid grey;
}

.unsavedContent {
	border-color: red;
	background-color: var(--backdrop-color);
	border-width: 1px;
	border-style: solid;
	display: block;
	min-height: 1000px;
}

.cardArea1 {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.cardArea2 {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.cardArea3 {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.typeArea {
	display: inline-block;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
}

.typeHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: move;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.dropZone {
	margin: 4px 0;
	width: 100%;
	height: 12px;
	border-radius: 6px;
}

.typeName {
	text-indent: 4px;
	color: var(--secondary-color);
	font-size: 24px;
}

/* Arrow Experiment */

.arrow-down {
	visibility: hidden;
	width: 30px;
	height: 30px;
	position: relative;
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
}

.arrow-down:before,
.arrow-down:after {
	content: '';
	display: block;
	width: 8px;
	height: 2px;
	background: var(--secondary-color);
	position: absolute;
	margin: auto 0;
	/* transition: transform 0.5s;        Doesn't currently work*/
}

.arrow-down:before {
	right: 14px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transform: rotate(45deg);
}

.arrow-down:after {
	right: 10px;
	transform: rotate(-45deg);
}

.arrow-down.active:before {
	transform: rotate(-45deg);
}

.arrow-down.active:after {
	transform: rotate(45deg);
}

/* Arrow Experiment */

.typeHeader:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.typeHeader:hover > .arrow-down {
	visibility: visible;
}

.typeGroupContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.cardContainer {
	color: #fff;
	display: flex;
	flex-direction: column;
	margin: 0 5px;
	width: 90px;
}

.manaContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	position: absolute;
	visibility: visible;
	z-index: 5;
	left: 0px;
	top: 0px;
	width: calc(100% - 2px);
	/* background-color: rgba(255, 255, 255, 0.13); */
	color: black;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding-right: 1px;
	margin-left: 2px;
	margin-top: 2px;
}

.settings {
	display: flex;
	position: absolute;
	top: 4px;
	right: 1px;
	z-index: 12;
	border-radius: 100%;
	cursor: pointer;
}

.settingsIcon {
	height: 18px;
	width: 18px;
	z-index: 5;
}

.settingSelector {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: rgb(25, 25, 25);
	color: white;
	width: 360px;
	height: 540px;
	top: -122px;
	left: 100px;
	border: 2px solid grey;
	z-index: 12;
	border-radius: 6px;
}

.settingBar {
	width: 88%;
	background-color: grey;
	margin: 16px auto;
	z-index: 10;
}

.settingName {
	text-align: center;
	margin: 16px 0 8px 0;
}

.setSelector {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	margin: 4px auto;
	width: 88%;
	align-items: center;
	white-space: nowrap;
}

.setInput {
	width: 80%;
	margin-left: 8px;
	color: black;
	background-color: white;
	text-indent: 4px;
	font-size: 16px;
	height: 24px;
	border: none;
}

.setDropButton {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	background-color: white;
	height: 24px;
	padding: 2px;
	border-left: 1px solid lightgrey;
}

.setDropDown {
	position: absolute;
	top: 28px;
	left: 32px;
	width: 90%;
	z-index: 11;
	white-space: nowrap;
}

.overflowY {
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 360px;
}

.setOption {
	position: absolute;
	display: flex;
	align-items: center;
	width: calc(100% - 6px);
	height: 32px;
	background-color: white;
	color: black;
	border: 3px solid grey;
	text-indent: 4px;
	font-size: 18px;
	white-space: nowrap;
}

.setOption:hover {
	color: white;
	background-color: grey;
}

.quantContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0 2px;
	padding-bottom: 1px;
	position: absolute;
	z-index: 4;
	top: 92px;
	left: 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: rgba(0, 0, 0, 0.15);
}

.arrowContainer {
	visibility: hidden;
	z-index: 5;
	height: 20px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.quantContainer:hover .arrowContainer {
	visibility: visible;
}

.quantContainer:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.arrow {
	margin: 4px;
	font-size: 28px;
	background: transparent;
	border: none;
	display: inline-block;
	padding: 3px;
	margin: -8px 0;
}

.up {
	color: green;
}

.up:hover {
	color: lightgreen;
}

.down {
	color: red;
}

.down:hover {
	color: lightcoral;
}

.cardDropZone {
	width: 8px;
	height: 116px;
	border-radius: 6px;
	z-index: 5;
}

.cardInfo {
	width: 95px;
}

.infoContainer {
	position: relative;
	word-wrap: break-word;
}

.cardName {
	margin: 6px 0;
	width: 100%;
	font-size: 16px;
	word-wrap: break-word;
	text-align: center;
}

.cardQuantity {
	font-size: 20px;
	color: white;
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
	text-indent: -4px;
}

.cardArtContainer {
	position: relative;
}

.cardArt {
	display: block;
	width: 93px;
	height: 110px;
	border-radius: 6px;
	border: 3px solid black;
	background-color: black;
	object-fit: cover;
	object-position: 50% 0%;
	filter: saturate(130%) contrast(110%);
}

.moreCards {
	opacity: 0.5;
	border: 2px dashed grey;
}

.cardImage {
	position: absolute;
	z-index: 15;
	width: 350px;
	border-radius: 20px;
	filter: saturate(130%) contrast(110%);
}

.small {
	width: 240px;
}

.hidden {
	visibility: hidden;
	display: none;
}

.superhidden {
	visibility: hidden;
	display: none;
}

.noHover {
	pointer-events: none;
}

.unhidden {
	visibility: visible;
	display: block;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-box {
	position: absolute;
	background: var(--main-color);
	border: 3px solid var(--backdrop-color);
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	text-align: center;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.authHeader {
	color: var(--header-text-color);
	background-color: var(--header-color);
	text-align: center;
	font-size: 48px;
}

.form-group {
	margin: 16px;
	align-items: center;
}

.authInput {
	font-size: 36px;
	height: 36px;
	margin: 16px;
}

.login-form {
	float: left;
	width: 50%;
	border-right: 2px solid var(--backdrop-color);
}

.register-form {
	float: right;
	width: 50%;
}

.authButton {
	font-size: 28px;
	height: 48px;
	align-items: center;
	margin: 16px;
}

.deckNameField::placeholder {
	opacity: 1;
	color: white;
}

.wholeDeck {
	padding: 6px;
	float: right;
	width: 84%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.importButton {
	background: none !important;
	border: none;
	padding: 0 !important;
	font-size: 16px;
	font-family: arial, sans-serif;
	color: lightgray;
	text-decoration: underline;
	cursor: pointer;
}

.metaTools {
	display: 'inline-block';
	background-color: var(--tool-color);
	width: 100%;
	order: 2;
	border-radius: 8px;
}

.toolsDeckName {
	font-weight: bold;
	font-size: 20px;
	margin: 8px 12px 0px 12px;
}

.metaHeader {
	width: 97.75%;
	height: 50px;
	font-size: 36px;
	padding-left: 12px;
	background-color: var(--header-color);
	color: var(--header-text-color);
}

.manaCurve {
	background-color: white;
	margin: 12px;
}

.registerContainer {
	padding: '16px';
}

.toolsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 8px;
	margin-bottom: 6px;
}

.tools {
	all: unset;
	cursor: pointer;
	text-align: center;
	width: 96px;
	height: 32px;
	font-size: 24px;
	font-weight: bold;
	border-radius: 8px;
	border: 2px solid black;
	background-color: grey;
	color: lightgrey;
}

.inactiveTools {
	cursor: not-allowed;
	opacity: 25%;
}

.activeTools {
	background-color: lightgrey;
	color: grey;
}

.columnContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-indent: 12px;
}

.columnButton {
	height: 32px;
	width: 20px;
	color: grey;
	background-color: lightgrey;
	margin-left: 16px;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold;
}

.activeColumnButton {
	color: lightgrey;
	background-color: grey;
}

.redButtonContainer {
	text-align: center;
	padding: 16px 0;
	width: 100%;
}

.redToolsButton {
	display: inline-block;
	color: darkRed;
	font-size: 16px;
	font-weight: bold;
	background-color: lightPink;
	border: 1px solid black;
	border-radius: 4px;
	width: 90%;
	height: auto;
	padding: 4px;
}
